body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 10px;
}

/* Header */

header{
    background-color: white;
    padding-left: 20px;
}

.img{
    vertical-align: middle;
    display: inline-block;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

/* Bottoni */

.bottoni {
    background-color: white;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
}

.tasto1 {
    border-radius: 5px;
    border: 1px solid lightskyblue;
    background-color: lightskyblue;
    color: white;
    padding: 5px ;
    cursor: pointer;
}

.tasto2{
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: white;
    color: lightgray;
    padding: 5px;
    cursor: pointer;
}

/* lista */

.lista{
    background-color: white;
    margin-top: 3px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px 30px 50px;
}

.fatto::before{
    content: "\2713  " ;
    color: greenyellow;
}

.infatto::before{
    content: "\2715  ";
    color: red;
}

span{
    display: block;
    line-height: 1.6;
    padding: 10px;
}

/* tipologia */

.editorial::after{
    content: "Editorial";
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

.q1goals::after{
    content: "Q1 Goals";
    background-color: purple;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

.recruiting::after{
    content: "Recruiting";
    background-color: lightgreen;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

.mobile::after{
    content: "Mobile";
    background-color: orange;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

.website::after{
    content: "Website";
    background-color: pink;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

.sales::after{
    content: "Sales";
    background-color: greenyellow;
    padding: 10px;
    border-radius: 20px;
    color: white;
}
